fastapi
uvicorn
pydantic
sqlalchemy
psycopg2-binary
joblib
scikit-learn
xgboost
requests
streamlit
streamlit-authenticator
bcrypt
prometheus-client
prometheus-fastapi-instrumentator
fpdf
geopy
kafka-python
websockets
